@model GenericWeb.Models.ArticleViewModel
<div class="container body-content">
   
   @Html.Partial("_Banner", Model.Article)
    <div class="row">
        @if (Model.Articles?.Count() > 0)
        {
            @foreach (var article in Model.Articles.Where(x => x.Page == Model.Page).OrderBy(x => x.DisplayOrder))
            {
                <div class="col-md-12">
                    <h2>@article.Title</h2>
                    @Html.Raw(article.Content)
                </div>
            }
        }
    </div>
    @Html.Partial("_Footer")
</div>